<html>
    <head>   <link rel="stylesheet" href="./css/style.css"></head>
    <body>
        <div class="main-content">
     {{>header}}
        <p>{{data}}</p>
        </div>
    </body>
        {{>footer}}
</html>