<html>
    <head> <link rel="stylesheet" href="./css/style.css"></head>
    <body >
        <div class="main-content">    
        {{>header}}
        <p style="font-size: 0.75em;">The app was created by Saumya Bhatnagar. It fetches location data from mapbox.com and weather forecast from darksky.net</p>
        <img src="/img/saumya.jpeg" style="width: 200px;justify-content:center">
        </div>
        
    
    </body>
{{>footer}}
</html>