<html>
    <head> <link rel="stylesheet" href="./css/style.css"></head>
    <body >
        <div class="main-content">    
        {{>header}}
        
        <img src="/img/saumya.jpeg" style="width: 200px;justify-content:center">
        </div>
        
    
    </body>
{{>footer}}
</html>